@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    background-color: #4F9CF9;
    color:#fff;
}
.btn-sec {
    background-color: #FFE492;
    color:#043873;
}
.btn-sec-border {
    border:1px solid #FFE492;
}
.heading {
    background-position-y: 60px;
    background-repeat: no-repeat;
    background-size: contain;
}
.bg-yellow {
    background-image: url('/images/heading-bg.svg');
}
.bg-blue {
    background-image: url('/images/heading-bg-blue.svg');
}

@media (max-width:1024px) {
    .heading {
        background-position-y: 30px;
    }
}